# -*- coding: utf-8 -*-


typing_extensions  >= 4.12.2
# 代码类型标注
requests           >= 2.25.1
# 请求更新
PySide6            >= 6.6.3.1
PySide6_Addons     >= 6.6.3.1
PySide6_Essentials >= 6.6.3.1
# 用来显示界面
# PySide6和组件都要确保在一个版本上，不然会报诡异的错误
pyqtgraph          >= 0.13.3
# 用来显示分数折线图（本来用了turtle但是太慢所以改了）
# （很神奇的事，我改了turtle.delay还是很卡）
pygame             >= 2.6.0
# 其实没什么用，后面会优化掉
psutil             >= 6.1.0
# 用来获取电脑信息
PyAudio            >= 0.2.14
# 用来播放和接收音频
customtkinter      == 5.2.2
# 我（JustNothing）同学用这个写的登陆界面（登陆界面可以自定义，所以可选）
numpy              >= 1.24.4
# 用来处理数据
lunardate          >= 0.2.2
# 好像用到了这个？不确定，所以保留
dill               >= 0.3.9
# 用来保存和读取数据，后续也会优化
opencv-python      >= 4.10.0.84
# 用来读取视频，后续可能会用到读取摄像头
colorama           >= 0.4.6
# 用来给控制台上色
